<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test NFC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-button (click)="scanNFC()">Scan</ion-button>
  </div>
</ion-content>
